<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Appium_PeriScope">
        <classes>
<!--            <class name="AppiumAutomation.SignInTestCases"/>-->
<!--            <class name="AppiumAutomation.ForgotPasswordTestCases"/>-->
<!--            <class name="AppiumAutomation.MapScreenTestCases"/>-->
            <class name="AppiumAutomation.AlertsTestCases"/>
        </classes>
    </test>
</suite>