<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Appium_PeriScope">
        <classes>

<!--            <class name="testscenarios.SignInTestCase"/>-->
<!--            <class name="testscenarios.ForgotPasswordTestCase"/>-->
<!--            <class name="testscenarios.MapScreenTestCase"/>-->

            <class name="testscenarios.AlertsTestCase"/>
        </classes>
    </test>
</suite>